@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply bg-indigo-500 px-4 py-2 text-sm
        rounded-md border text-white hover:border-white
        border-indigo-500 active:scale-95 transition-all;
    }
    .btn-secondary {
        @apply whitespace-nowrap items-center rounded
        bg-primary px-6 pb-3 pt-2.5 text-sm font-medium
        uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca]
        transition duration-150 ease-in-out hover:bg-primary-600
        hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
        focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
        focus:outline-none focus:ring-0 active:bg-primary-700
        active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
        motion-reduce:transition-none dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]
        dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]
        dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]
        dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)];
    }
    .btn-outline {
        @apply inline-block rounded border-2 border-danger px-6 pb-[6px] pt-1 text-sm font-medium
        uppercase leading-normal text-danger transition duration-150 ease-in-out hover:border-danger-600
        hover:bg-neutral-500 hover:bg-opacity-10 hover:text-danger-600 focus:border-danger-600 focus:text-danger-600
        focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10;
    }
    .ul-menu {
        @apply absolute z-[1000] float-left m-0 min-w-max list-none
        rounded-lg border-none bg-white bg-clip-padding hidden overflow-hidden
        text-left text-base shadow-lg dark:bg-neutral-700;
    }
    .li-menu {
        @apply whitespace-nowrap bg-transparent disabled:bg-transparent
        text-sm font-normal text-neutral-700 hover:bg-neutral-100 block
        active:text-neutral-800 active:no-underline disabled:pointer-events-none
        disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600;
    }
    .li-menu a {
        @apply block py-2 px-5 w-full;
    }
    .m-input {
        @apply block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem]
        leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100
        data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none
        dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0;
    }
    .m-label {
        @apply pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem]
        leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem]
        peer-focus:scale-[0.8] peer-focus:text-primary-600 peer-data-[te-input-state-active]:-translate-y-[0.9rem]
        peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary;
    }
    .c-input {
        @apply relative float-left -ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem]
        appearance-none rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 outline-none
        before:pointer-events-none before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full
        before:bg-transparent before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-[''] checked:border-primary
        checked:bg-primary checked:before:opacity-[0.16] checked:after:absolute checked:after:-mt-px checked:after:ml-[0.25rem]
        checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem]
        checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid checked:after:border-white checked:after:bg-transparent
        checked:after:content-[''] hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)]
        focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12]
        focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s]
        focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] focus:after:rounded-[0.125rem]
        focus:after:content-[''] checked:focus:before:scale-100 checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca]
        checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] checked:focus:after:-mt-px checked:focus:after:ml-[0.25rem]
        checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] checked:focus:after:rotate-45 checked:focus:after:rounded-none
        checked:focus:after:border-[0.125rem] checked:focus:after:border-l-0 checked:focus:after:border-t-0 checked:focus:after:border-solid
        checked:focus:after:border-white checked:focus:after:bg-transparent dark:border-neutral-600 dark:checked:border-primary
        dark:checked:bg-primary dark:focus:before:shadow-[0px_0px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca];
    }
    .c-label {
        @apply inline-block pl-[0.15rem] hover:cursor-pointer;
    }
    .m-link {
        @apply text-primary text-base transition duration-150 ease-in-out hover:text-primary-600
        focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500
        dark:focus:text-primary-500 dark:active:text-primary-600;
    }
    .file-input {
        @apply relative mb-4 block w-64 min-w-0 flex-auto cursor-pointer rounded
        border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] text-xs font-normal
        text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem]
        file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-solid
        file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700
        file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px]
        file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary
        focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600
        border dark:text-neutral-200 dark:file:bg-neutral-700 dark:file:text-neutral-100
        dark:focus:border-primary;
    }
    .btn-upload {
        @apply inline-block rounded bg-primary pb-2 pt-2 text-sm mb-8 focus:bg-primary-600
        font-medium uppercase leading-normal text-white transition active:bg-primary-700 pr-6
        duration-150 ease-in-out hover:bg-primary-600 focus:outline-none focus:ring-0 pl-4
        hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
        focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
        active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
        dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] shadow-[0_4px_9px_-4px_#3b71ca]
        dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]
        dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]
        dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)];
    }
}
